.event{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}
.gallary img{
    width: 100%;
    border-radius: 10px;

}


@media (max-width: 800px){
    .gallary{
        flex-wrap: wrap;
    }
    .gallary img{
        width: 48%;
        margin-bottom: 25px;
    }
}